{
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": "error",
    "arrow-parens": "off",
    "comma-dangle": ["warn", "always-multiline"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "^_", "args": "none" }],
    "quotes": ["error", "backtick", { "avoidEscape": true }],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "object-curly-spacing": ["warn", "always"],
    "no-console": ["off"],
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}