aiohttp==3.6.2
amqp==2.5.2
APScheduler==3.6.3
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
billiard==3.6.3.0
celery==4.4.2
chardet==3.0.4
discord.py==1.3.2
idna==2.9
isort==4.3.21
kombu==4.6.8
lazy-object-proxy==1.4.3
mccabe==0.6.1
multidict==4.7.5
pylint==2.4.4
python-dotenv==0.12.0
pytz==2019.3
six==1.14.0
tzlocal==2.0.0
vine==1.3.0
websockets==8.1
wrapt==1.11.2
yarl==1.4.2
